{% extends "master.html" %}

{% block title %}
    OTS - liste
{% endblock %}

{% block content %}
    <a class="btn btn-secondary" href="/ogrenciekle">Öğrenci Ekle</a>

    <!-- {% include 'ogrenciekle.html' %} -->

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TC</th>
                <th scope="col">Adı</th>
                <th scope="col">Soyadı</th>
                <th scope="col">İşlemler</th>
            </tr>
        </thead>

        <tbody>
            {% for x in abc %}
            <!-- dikkat, : işareti yok -->
            <tr>
                <th scope="row">1</th>
                <td>{{ x.TC }}</td>
                <td>{{ x.Adi }}</td>
                <td>{{ x.Soyadi}}</td>
                <td>
                    <a class="btn btn-success" href="detay/{{ x.id }}">detay</a>
                    <a class="btn btn-info" href="guncelle/{{ x.id }}">düzenle</a>
                    <a class="btn btn-danger" href="sil/{{ x.id }}">sil</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {{ abc }}
    <br>
    <br>
    {{ liste }}
    <br>
    <br>
    {{ liste2 }}
    <br>
    <br>
    {{ liste3 }}
    <br>
    {% endblock %}
