{% extends "master.html" %}

{% block title %}
OTS - liste
{% endblock %}

{% block content %}

    {% for x in abc %}
    <!-- dikkat, : işareti yok -->
        <div class="card mt-4" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ x.TC }}</h5>
            <p class="card-text">{{ x.Adi }}</p>
            <p class="card-text">{{ x.Soyadi}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}