<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav bg-info" style="position: sticky; top: 0; background-color: rgba(ff,00,00, 0.5);">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">OTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link link-light" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/ogrencilerilistele">Öğrenciler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light ml-auto" href="/admin">Yönet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light ml-auto" href="/deneme">Deneme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light ml-auto" href="/ders">Ders</a>
            </li>
          </ul>
          <span class="navbar-text">
            Navbar text with an inline element
          </span>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>



<!-- <div class="nav bg-info">
      <div>
        <ul>
          
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            
          </li>

        </ul>
      </div>
      <div class="navbar-right">
        <ul>
          <li class="nav-item">
            
          </li>
        </ul>
      </div>
    </div> -->